.romber {
    display: grid;
    align-items: center;
    grid-template-columns: 60px auto;
    gap: 20px;
}

.romber-bg {
    /* width: 2.5rem; */
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #F0F8FE;
    border-radius: 5px;
    border: #007fbd 1px solid;
    margin: 1rem;
    transform: rotate(45deg);
    align-self: safe;
}

.romber-item {
    display: block;
    /* font-size: 1.5rem; */
    font-family: var(--font-family-rubik);
    color: #007fbe;
    transform: rotate(-45deg);
}

.romber-text {

}